Software/openFrameworks/openFrameworks.xcodeproj/xcuserdata
Software/openFrameworks/openFrameworks.xcodeproj/xcuserdata/antoine.xcuserdatad
Software/openFrameworks/openFrameworks.xcodeproj/xcuserdata/antoine.xcuserdatad/xcschemes
Software/openFrameworks/openFrameworks.xcodeproj/xcshareddata/xcschemes/openFrameworks Debug.xcscheme
Software/openFrameworks/openFrameworks.xcodeproj/xcshareddata/xcschemes/openFrameworks Release.xcscheme
Software/openFrameworks/openFrameworks.xcodeproj/xcuserdata/antoine.xcuserdatad/xcschemes/xcschememanagement.plist
Software/openFrameworks/openFrameworks.xcodeproj/project.pbxproj
Firmware/MAIN/build-teensy31/
Firmware/MAIN/build-uno/