openFrameworks/openFrameworks.xcodeproj/xcuserdata
openFrameworks/openFrameworks.xcodeproj/xcuserdata/antoine.xcuserdatad
openFrameworks/openFrameworks.xcodeproj/xcuserdata/antoine.xcuserdatad/xcschemes
openFrameworks/openFrameworks.xcodeproj/xcshareddata/xcschemes/openFrameworks Debug.xcscheme
openFrameworks/openFrameworks.xcodeproj/xcshareddata/xcschemes/openFrameworks Release.xcscheme
openFrameworks/openFrameworks.xcodeproj/xcuserdata/antoine.xcuserdatad/xcschemes/xcschememanagement.plist
openFrameworks/openFrameworks.xcodeproj/project.pbxproj
Arduino/eTextile_matrix_sensor_blob/build-teensy31/
Arduino/eTextile_matrix_sensor_blob/build-uno/
