[Desktop Entry]
Encoding=UTF-8
Name=Lien vers Teensy and Teensy++ Pinouts, for C language and Arduino Software
Type=Link
URL=https://www.pjrc.com/teensy/pinout.html
Icon=text-html
